body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-layout-sider {
  background-color: #fff !important;
}
.ant-layout-sider-children {
  border-right: 1px solid #ccc;
}
.ant-layout-footer {
  position: fixed !important;
  left: 200px;
  right: 0;
  bottom: 0;
  text-align: center;
}
